<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>Three Column</title>

    <link rel="stylesheet" href="css/style.css" media="screen" type="text/css" />

</head>

<body class="3col">

  <header class="top cf">
    <div class="placeholder">
      Header
    </div>
  </header>

  <section class="main col3-main">
    <div class="placeholder">
      Main Content
    </div>
  </section>

  <aside class="sidebar col3-left">
    <div class="placeholder">
      Left Sidebar Content
    </div>
  </aside>

  <aside class="sidebar col3-right">
    <div class="placeholder">
      Right Sidebar Content
    </div>
  </aside>

  <footer class="ftr cf">
    <div class="placeholder">
      Footer
    </div>
  </footer>

</body>

</html>










